#main
		{
			height: 1800px;
			width: 1000px;
			margin-bottom: 40px;
			margin-left: 175px;
			margin-right: 175px;
			margin-top: 40px;
			border-bottom: solid black 3px;
			border-left: solid black 3px;
			border-right: solid black 3px;
		}
		header
		{
			height: 15%;
			width: 100%;
			background-size: cover;
		}
		#tab
		{
			height: 3%;
			width: 100%;
			background-color: #dcdcdc;
		}
		#cont
		{
			height: 72%;
			width: 100%;
		}
		footer
		{
			height: 10%;
			width: 100%;
			background-color: #f8f8ff; 
		}
		#insta
		{
			height: 90%;
			width: 33%;
			float: left;
		}
		#fb
		{
			height: 90%;
			width: 33%;
			margin-left: 0.5%;
			float: left;
		}
		#contact
		{
			height: 90%;
			width: 33%;
			float: right;
		}
		h1
		{
			color: darkred;
			padding-top: 12%;
			font-style: italic;
			font-size: 50px
		}
		#rgstr
		{
			height: 100%;
			width: 50%;
			background-color: #f8f8f8;
			float: left;
			display: block;
		}
		#detail
		{
			height: 100%;
			width: 50%;
			float: right;
			display: block;
		}
		img
		{
			height: 100%;
			width: 100%;
		}
		a
		{
			text-decoration: none;
			color: black;
		}
		form
		{
			margin-top: 50px;
		}
		.input
		{
			width: 250px;
			border-radius: 45px;
		}
		select
		{
			width: 250px;
			border-radius: 45px;
		}
		form button
		{
			width: 100px;
			border-radius: 45px;

		}
		form button:hover
		{
			background-color: white;
		}
		footer a:hover
		{
			color: red;
		}
		#about
		{
			height: 100%;
			width: 100%;
			background-color: #effff3;
			display: none;
			padding-top: 100px;
		}
		#cont #about #topic
		{
			margin-left: 50px;
			font-size: 24px;
			font-style: italic;
		}
		#cont #about p
		{
			margin-left: 60px;
			margin-right: 40px;
			font-size: 18px;
		}
		#founder
		{
			height: 20%;
			width: 100;
		}
		#founder #fimage
		{
			height: 100%;
			width: 30%;
			float: left;
		}
		#fimage img
		{
			margin-top: 40px;
			height: 50%;
			width: 50%;
		}
		#fabout
		{
			height: 100%;
			width: 70%;
			float: right;
		}
		#detail img
		{
			height: 100%;
			width: 100%;
		}
		#help
		{
			height: 100%;
			width: 100%;
			background-color: #effff3;
			display: none;
			padding-top: 100px;
		}
		#cont #help #htopic
		{
			margin-left: 50px;
			font-size: 24px;
			font-style: italic;
		}
		#tab a
		{
			font-size: 25px;
			font-style: italic;
			margin-left: 50px;
		}